<a href="https://colab.research.google.com/github/HarshaSuresh23/Pythonbasics-/blob/main/Lesson_7_Nested_Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 7: Nested Python Lists

---

<center><img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/q+and+a_1.png"/></center>
<h3><font color=red><b>
<img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/question.jpg"/>Have you ever been to a supermarket to buy some fruits and vegetables or anything?

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/APT-C7-01-GROCERY+BAG-01.jpg" height=400/>

<h3><font color=red><b>
<img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/question.jpg"/>Assume that you are already carrying a fruit basket and you also want to buy vegetables, eggs, milk packets.

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/APT-C7-02-BASKETS-01.jpg"  height=400/>


<h3><font color=red><b>
<img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/question.jpg"/>How will you carry all these items? <a href="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/nested-python-list-gif+(1).gif"><img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/download.jpg"/></a>

<br/>

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/APT-CT-03-THINKING-GIRL-01.png" height=400/>

---

#### Activity 1: Data Representation In Two-Dimensions Using Python Lists^^

A two-dimensional (or a tabular) data can be represented using a Python list.

Consider the example shown below. Here we have a two-dimensional (or a tabular) data of 9 planets and their corresponding diameters (in km).

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-planets-08-01.png" height=450/>


Suppose we want to create a list of all planets and their corresponding diameters. Instead of creating 9 separate list for each planet, we can store the above table inside a single list using the nested list concept.

**Nested List:**

*A nested list is a collection of lists inside a list, just like a gift box inside another gift box*.



<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/nested-boxes.jpg' width=400>


**For example:**
1. `list1=[[1,2,3],[4,5],[6,7]]` $\Rightarrow$ Here `list1` is a nested list having `3` **inner list** or **sublist**.

2. `list2=[['cat','dog'],['pigeon']]` $\Rightarrow$ Here `list2` is a nested list having `2` sublist.

3. `list3=['John', 2.0, 5, [10, 20]]` $\Rightarrow$ Here `list3` contains a string, a float, an integer and another list



Let's create a **nested list** `planet_diameters` to store the planets and their corresponding diameters in it. Since there are 9 planets, so we will create 9 sublists or inner lists and store the details of 9 planets in those 9 sublists.


<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-09-planet-list-01.png" height=450/>

In [ ]:
# Teacher Action: Represent a two-dimensional data in a nested list.
planet_diameters = [['Mercury', 4879],
                    ['Venus', 12104],
                    ['Earth', 12756],
                    ['Mars', 6792],
                    ['Jupiter', 142984],
                    ['Saturn', 120536],
                    ['Uranus', 51118],
                    ['Neptune', 49528],
                    ['Pluto', 2370]]
planet_diameters

[['Mercury', 4879],
 ['Venus', 12104],
 ['Earth', 12756],
 ['Mars', 6792],
 ['Jupiter', 142984],
 ['Saturn', 120536],
 ['Uranus', 51118],
 ['Neptune', 49528],
 ['Pluto', 2370]]


**Note:** The indentation for a nested list is not necessary. We indent a nested list to make it more readable.



Thus, we can use **nested list** to represent any two dimensional data or tables having values arranged in rows and columns.

The row and column indices begin with `0`.

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-10-row-01.png" height=400/>






Now, refer to the table below.

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-11-density-01.png" height=400/>





Create a nested list containing 9 sublists where each sublist contains the planet details for each planet. The sublists must be separated by a comma.

In [ ]:
# Student Action: Create a nested list to represent the two-dimensional data shown in the table above.
planet_data = [['Mercury', 4879,5427,3.7],
                    ['Venus', 12104,5243,8.9],
                    ['Earth', 12756,5514,9.8],
                    ['Mars', 6792,3933,3.7],
                    ['Jupiter', 142984,1326,23.1],
                    ['Saturn', 120536,687,9.0],
                    ['Uranus', 51118,1271,8.7],
                    ['Neptune', 49528,1638,11.0],
                    ['Pluto', 2370,2095,0.7]]
planet_data

[['Mercury', 4879, 5427, 3.7],
 ['Venus', 12104, 5243, 8.9],
 ['Earth', 12756, 5514, 9.8],
 ['Mars', 6792, 3933, 3.7],
 ['Jupiter', 142984, 1326, 23.1],
 ['Saturn', 120536, 687, 9.0],
 ['Uranus', 51118, 1271, 8.7],
 ['Neptune', 49528, 1638, 11.0],
 ['Pluto', 2370, 2095, 0.7]]

For all practical purposes, we can call the `planet_data` list a **two-dimensional** list because it stores a tabular format having some rows and columns.

---

#### Activity 2: Indexing A Nested List^

In the previous class, we learned how to access individual elements of a list.

<font color=red><b>
<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/recap-01.png" height=50/>Suppose you want to access or print the **first** element of the below list:

```python
planet = ['Mercury', 4879, 3.7, False]
```

How will you do that? </font></b> <br/><a href="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/index.PNG"><img src="https://curriculum.whitehatjr.com/APT+Asset/Final+C2+images/download.jpg"/> </a>

---


Consider the `planet_data` 2D list.

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/planet.png" height=400/>


Let's say you want to see only the diameter of `'Jupiter'` from the `planet_data` list. For this, you will use the list indexing method which you learnt in the previous class.

**List Indexing for 2D list:**

To get an item of a 1D list, we need to specify one index. Similarly, to get a specific item from a 2D list, we need to specify two indices.

For this, write the list name followed by two consecutive square brackets `[][]`.

- In the first square bracket, enter the row index.

- In the second square bracket, enter the column index.


**Syntax:** `list_name[row_index][col_index]`


In `planet_data` 2D list , there are 9 rows and 4 columns, so the row indices go from `0` to `8` and the column indices go from `0` to `3`.



<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-13-index-01.png" height=400/>

To retreive the diameter of Jupiter, you need to specify the **row index** and **column index** for Jupiter.



<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/planet-jupiter-gif-c7-apt.gif" height=400/>

In [ ]:
# Student Action: Retrieve the diameter of 'Jupiter' from the 'planet_data' list.
planet_data[4][1]

142984

In [ ]:
# Student Action: Retrieve the density of 'Saturn' from the 'planet_data' list.
planet_data[5]

['Saturn', 120536, 687, 9.0]

To get all the items of a row from a 2D list, just enter the row index of that row in the first square bracket after writing the name of the list. No need to enter the column index in this case.

**Syntax:** `list_name[row_index]`



<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/PLATER-MARS-apt-c7-gif.gif" height=400/>

Let's get all the details of `'Mars'` from the `planet_data` list.

In [ ]:
# Student Action: Retrieve all the details of 'Mars' using the list indexing method.
planet_data[3]

['Mars', 6792, 3933, 3.7]

---

#### Activity 3: Length Of Nested Python Lists

The length of a nested list is the number of sublists it contains.

**For example:**
<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/apt-c7-06-list-01.png" height=400/>

In the `planet_data` list, there are 9 sublists. Hence, it's length is 9. You can use the `len()` function to compute the length of a nested list.

**Syntax:** `len(list_name)`

In [ ]:
# Student Action: Find the number of sublists in the 'planet_data' list using the 'len()' function.
len(planet_data)

9


**What if we need to count the total number of items in a nested list?**

For this:
- First find the length of each sublist using `len()` function.
- Then add the length of each sublist.



<img src="https://curriculum.whitehatjr.com/APT+Asset/apt-c7-07-total+items-01+(1).png" height=400/>

To perform these tasks, we will use a `for` loop which will iterate through every sublists.

Let's create `num_items` variable with an initial value equal to `0`. Then using the `for` loop and the `len()` function, we will find the total number of items contained in each sublist in the `planet_data` list. Then we will add the length of each list to the `num_items` variable.

In [ ]:
# Teacher Action: Find the total number of items in a nested list.
num_items = 0

for sublist in planet_data:
  length_of_sublist = len(sublist)
  num_items = num_items + length_of_sublist

num_items

36

In the above code:

- We iterate through each sublist in the `planet_data` list.

- We compute the length of each sublist using the `len()` function. We store this value in a `length_of_sublist` variable which we have created inside the `for` loop.

- We add the length of each sublist to the `num_items` variable using the `+` operator. Recall that this is a **right-to-left** operation in which we first update the value stored in a variable and then assign the updated value to the same variable.

- Finally, we print the value stored in the `num_items` variable to get the total number of items contained in the `planet_data` list.

*In general, if a two-dimensional list has $q$ rows and $r$ columns, then it will have $q \times r$ items.*

---

#### Activity 4: Data Representation In Three-Dimensions Using Python Lists^^^

Let's learn about three-dimensional lists in Python.

*For all practical purposes, a three-dimensional list is a collection of equal-sized two-dimensional lists* where the **size** of a two-dimensional list is the number of rows and columns contained in a two-dimensional list. E.g., if there are 2 two-dimensional lists having 3 rows and 2 columns, then you can create a three-dimensional list using them.

Hence, the equal-sized two-dimensional lists will always have the same number of rows and columns.

**Note:** In a three-dimensional list, we can refer a two-dimensional list as a **block** for the ease of understanding.

Now, let's create a three-dimensional list which contains three equal-sized two-dimensional lists. Let the size of each two-dimensional list be 3 rows and 3 columns. Let each item in the three-dimensional list indicate the position it acquires in the list.

<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/3D_array.jpg'>

So each item will be of the form $ijk$, where $ijk$ indicates that the item is present in the $i^{th}$ block, $j^{th}$ row and $k^{th}$ column.


Hence,

- if $i = 1, j = 1, k = 1$, then it means the item exists in the first block, first row and first column.

- if $i = 1, j = 1, k = 2$, then it means the item exists in the first block, first row and second column.

- if $i = 1, j = 1, k = 3$, then it means the item exists in the first block, first row and third column.

  -  

  -  

  -  

- if $i = 3, j = 3, k = 1$, then it means the item exists in the third block, third row and first column.

- if $i = 3, j = 3, k = 2$, then it means the item exists in the third block, third row and second column.

- if $i = 3, j = 3, k = 3$, then it means the item exists in the third block, third row and third column.

In [ ]:
# Teacher Action: Create a three-dimensional list in Python.
three_dim_list = [
                  [[111, 112, 113],
                   [121, 122, 123],
                   [131, 132, 133]],

                  [[211, 212, 213],
                   [221, 222, 223],
                   [231, 232, 233]],

                  [[311, 312, 313],
                   [321, 322, 323],
                   [331, 332, 333]]
                  ]

three_dim_list

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

**Note:** The indentation for a nested list is not necessary. We indent a nested list to make it more readable.


In the above example, the number `111` means the item exists in the first block, first row and first column. Similarly, `121` means the item exists in the first block, second row and first column and so on ...

We have 3 blocks where each block is a two-dimensional list. So the blocks represent the third dimension. You can compute the number of blocks contained in a three-dimensional list using the `len()` function.

In [ ]:
# Student Action: Using the 'len()' function, find the number of blocks contained in the 'three_dim_list'.
len(three_dim_list)

3

You can imagine these blocks as a stack of few books in which one book lies on top of another.

<img src='https://s3-whjr-v2-prod-bucket.whjr.online/9cfb99b0-d4d2-4268-a79d-378f09f39cd4.png' width=400>

Surely, we can't actually draw three dimensions on a two-dimensional screen but using the example of a stack of books we can try to visualise them.

We can retrieve the items from a three-dimensional list using the list indexing method.

To retrieve an item from a three-dimensional list, you need to write the name of the list, followed by three square brackets. Inside the square brackets, you have to enter the block index, row index and column index in that order.

**Syntax:** `list_name[block_index][row_index][col_index]`

**Note:** The block, row and column indices begin from `0`.

Let's try to retrieve the item `121` from `three_dim_list`.

In [ ]:
# Student Action: Retrieve 121 from 'three_dim_list' using the list indexing method.
three_dim_list[0][1][0]

121

In [ ]:
# Student Action: Retrieve 232 from 'three_dim_list' using the list indexing method.
three_dim_list[1][2][1]

232

We can retrieve all the items from a three-dimensional list using the nested `for` loop. The nested `for` loop means there are `for` loops inside a `for` loop.

In this example, using the `for` loop,

- first we will iterate through each block,

- then within each block, we will iterate through each row,

- then within each row, we will iterate through each column to get every single item from the nested list stored in the `three_dim_list` variable.

In [ ]:
# Teacher Action: Retrieve items of a multi-dimensional list using nested 'for' loop.
for i in range(3): # Iterate through each block. There are 3 blocks.
  for j in range(3): # Iterate through each row. There are 3 rows.
    for k in range(3): # Iterate through each column. There are 3 columns.
      print(three_dim_list[i][j][k], end=' ')
    print()
  print()

111 112 113
121 122 123
131 132 133

211 212 213
221 222 223
231 232 233

311 312 313
321 322 323
331 332 333

Here, `i` goes from `0` to `2`, `j` goes from `0` to `2` and `k` also goes from `0` to `2`.

Hence,

- first, for `i = 0` and `j = 0`, `k` will go from `0` to `2`.

- then, for `i = 0` and `j = 1`, again `k` will go from `0` to `2`.

- then, for `i = 0` and `j = 2`, again `k` will go from `0` to `2`.

- then, for `i = 1` and `j = 0`, again `k` will go from `0` to `2`.

- then, for `i = 1` and `j = 1`, again `k` will go from `0` to `2`.

- then, for `i = 1` and `j = 2`, again `k` will go from `0` to `2`.

- then, for `i = 2` and `j = 0`, again `k` will go from `0` to `2`.

- then, for `i = 2` and `j = 1`, again `k` will go from `0` to `2`.

- then, for `i = 2` and `j = 2`, again `k` will go from `0` to `2`.

So, all-in-all, there will be 27 iterations. In the above code,

- the `end=' '` parameter in the first `print()` function, provides a space between two consecutive items in a row.

- the second `print()` function prints a new line after each row.

- the third `print()` function prints an empty newline after each block.

*In general, if a three-dimensional list has $p$ blocks, $q$ rows and $r$ columns, then it will have $p \times q \times r$ items.*

Now, you try to iterate through each item in the `three_dim_list` using the `for` loop but without using the `range()` function.

In [ ]:
# Student Action: Iterate through each item in the 'three_dim_list' using the 'for' loop without using the 'range()' function.
for block in three_dim_list:
  for row in block:
    for item in row:
      print(item, end=' ')
    print()
  print()

111 112 113
121 122 123
131 132 133

211 212 213
221 222 223
231 232 233

311 312 313
321 322 323
331 332 333

In the above code,

- the `block` variable goes through the first block

    ```
    111 112 113
    121 122 123
    131 132 133
    ```

  to the third block

    ```
    311 312 313
    321 322 323
    331 332 333
    ```

  in the `three_dim_list`.

- the `row` variable goes through each row in each block.

- the `item` variable goes through each item in each row in each block.

- the `end=' '` parameter in the first `print()` function, provides a space between two consecutive items in a row.

- the second `print()` function prints a new line after each row.

- the third `print()` function prints an empty newline after each block.


You can also use the `for` loop to find the number of items in a three-dimensional list as we did in case of the two-dimensional list. To find the number of items in the `three_dim_list`, using the `for` loop:

- First, create a variable, say `num_items`, with an initial value equal to `0`.

- Then iterate through each block.

- Then within each block, iterate through each row.

- Then find the number of items in each row using the `len()` function and add the result to the `num_items` variable.

The output should be `27` because there are `27` items in the `three_dim_list`.

In [ ]:
# Student Action: Using the 'for', find the number of items in the 'three_dim_list'.
num_items=0
for block in three_dim_list:
  for row in block:
    num_items=num_items+len(row)
print(num_items)

27

This is where we will stop today. We have covered some important topics related to lists in this class.

In the next class, we will learn list comprehensions.

---

### Wrap-Up Quiz

<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/q1.PNG"/>

---



<img src="https://curriculum.whitehatjr.com/APT+Asset/APT+C7+images/q2.PNG"/>

---